In [1]:
# sometimes we can write more than one instruction in one cell, as below

# this instruction is used to import the library pandas so we can use it later
# "as pd" means that we can use the term pd to use the library instead of typing pandas
import pandas as pd

# .read_csv is an input method used to read csv files (datasets)
# remember we use pd instead of pandas 
# Also make sure that both files (the notebook and the dataset) are in the same folder
# otherwise, you will need to provide the full path instead of just the name of the dataset
salaries = pd.read_csv("Salaries.csv", low_memory=False)

# this will allow to create a new subdataset, but with a limited number of instances
# for example, here we are selecting all instance where the salary has been recorded in 2014
# .Year == 2014
Salaries_2014 = salaries[salaries.Year == 2014]
Salaries_2014.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT

In [ ]:
# .isnull allows to check the null values in the dataset
# but it will display this for each and every value, which might not be very useful
Salaries_2014.isnull()

In [ ]:
# isnull().any() will display this for each feature
Salaries_2014.isnull().any()

In [ ]:
# .isnull().any().any() will display this for all the dataset
Salaries_2014.isnull().any().any()

In [ ]:
# sometimes, we might not be only interested in the presence or not of the null values
# but we need to know how many null values we have, so we can calculate the sum
Salaries_2014.isnull().sum()

In [ ]:
# If a feature is not important for any reason (either not useful, or contains only null values, etc.)
# we can simply drop the feature itself
Salaries_2014 = Salaries_2014.drop("Notes", axis=1)
Salaries_2014

In [ ]:
# Also we drop instances that has null values using the method .dropna()
Salaries_2014 = Salaries_2014.dropna()
Salaries_2014